@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    color: #3E3E3E;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

/* Top Nav Bar*/
header nav a{
    font-weight: 500;
    transition: all 0.5s ease-in-out 0s !important;
    border-radius: 5px;
}
header nav a:hover{
    background-color: rgb(224, 224, 224);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

/* Top Banner */
.buy-btn{
    background-image: linear-gradient(0.50turn, #A4BC46, #85A019);
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out 0s;
}
.buy-btn:hover{
    background-image: linear-gradient(0.50turn, #85A019, #728a13);
    transform: translateY(-3px) scale(1.01);
    color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.text-heading{
    color: #363958;
}
.text-highlighted{
    color: #FABE4C;
}
.ffamily-bebas{
    font-family: 'Bebas Neue', cursive;
}
.banner-title{
    font-size: 70px;
}
.bg-lightgrey{
    background-color: #F1F1F1;
}
.rounded-xl{
    border-radius: 12px;
}

/* Product Category */
.category-wrapper{
    height: 175px;
    overflow: hidden;
}
.horizontal-category-wrapper{
    height: 150px;
}
.category{
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out 0s;
}
.category:hover{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    transform: scale(0.95);
}
.man-shoes{
    background-image: url(images/categories/hikingshoe.jpg);
}
.woman-shoes{
    background-image: url(images/categories/new.jpg);
}
.sweater{
    background-image: url(images/categories/00_social.jpg);
    background-position: top;
}
.tuxedo{
    background-image: url(images/categories/tuxedo.jpg);
    background-position: top;
}
.t-shirt{
    background-image: url(images/categories/t-shirt.jpg);
}
.glass{
    background-image: url(images/categories/glass.jpg);
}
.watch{
    background-image: url(images/categories/watch.jpg);
}

/* Man & Woman Jacket */
.product-card{
    transition: all 0.5s ease-in-out 0s;
    cursor: pointer;
}
.product-card:hover{
    transform: translateY(-10px) scale(1.03);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5) !important;
}
.product-img-wrapper{
    height: 250px;
}
.product-img-wrapper img{
    display: block;
    height: 100%;
    margin: 0 auto;
}
.text-justify{
    text-align: justify;
}
.product-caption{
    text-shadow: 1px 1px 3px rgb(201, 201, 201);
}